{% extends "layout.html" %}

{% block content %}
<script>
  const deviceName = {{ name | tojson }};
</script>

<div data-aos="fade-up" data-aos-delay="400">
    <h2>Device: {{ name }}</h2>
</div>

<div class="controls" data-aos="zoom-in" data-aos-delay="400">

    <h3>Playback</h3>
    <button onclick='playback({{ name | tojson }}, "play")'>
        <lord-icon
            src="https://cdn.lordicon.com/rfoqztsr.json"
            trigger="hover"
            colors="primary:#f9fafb"
            style="width:25px;height:25px">
        </lord-icon>
    </button>
    <button onclick='playback({{ name | tojson }}, "pause")'>
        <lord-icon
            src="https://cdn.lordicon.com/gzpbhanm.json"
            trigger="hover"
            colors="primary:#f9fafb"
            style="width:25px;height:25px">
        </lord-icon>
    </button>

    <h3>Volume</h3>
    <input type = "number" id = "vol-{{ name }}" placeholder = "0-1" step = "0.05" min="0" max="1">
    <button onclick='setVolume({{ name | tojson }})'>Set Volume</button>
    <button onclick='sendAction({{ name | tojson }}, "volume_up")'>Volume +</button>
    <button onclick='sendAction({{ name | tojson }}, "volume_down")'>Volume -</button>
    <button onclick='sendAction({{ name | tojson }}, "mute")'>Mute</button>
    <button onclick='sendAction({{ name | tojson }}, "unmute")'>Unmute</button>

    <h3>Audio</h3>
    <form onsubmit = 'playMedia(event, {{ name | tojson }})'>
        <input type = "url" name = "url" placeholder = "Media URL" required>
        <button type = "submit">Play Media</button>
    </form>

    <h3>Internet Radio</h3>
    <ul class="device-list" style="grid-template-columns: repeat(auto-fill, minmax(90px, 1fr)); gap: 1.5rem;">
      {% for st in stations %}
        <li>
          <button 
            class="station-btn" 
            onclick="castStation({ url: '{{ st.url }}', name: '{{ st.name }}' })"
          >
            <lord-icon
                src="https://cdn.lordicon.com/mrgkmsfk.json"
                trigger="hover"
                stroke="bold"
                colors="primary:#374151,secondary:#374151"
                style="width:75px;height:75px">
            </lord-icon>
            {{ st.name }}
          </button>
        </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}