{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <h3 data-aos="fade-right">Buy Stocks</h3>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" placeholder = 'symbol' name='symbol' id='symbol' type='text' autofocus>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" placeholder = 'shares' name='shares' id='shares' type='shares'>
        </div>
        <div>
            <button data-aos="fade-up" data-aos-delay="300" class="btn btn-primary" type='submit'>BUY</button>
        </div>

    </form>
{% endblock %}
