{% extends "layout.html" %}

{% block title %}
    Cash Add
{% endblock %}

{% block main %}
    <form action="/cash_add" method="post">
        <h3>Want to Add Cash?</h3>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" placeholder = "Please Insert Amount" name="amount" id="amount" type="text" autofocus>
        </div>
        <div>
            <button class="btn btn-primary" type='submit'>Submit</button>
        </div>

    </form>
{% endblock %}
