{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h3>My History</h3>
    <table class="table_alignment">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price (of Stocks)</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
                <tr>
                    <td>{{ trans.Type }}</td>
                    <td>{{ trans.Symbol }}</td>
                    <td>{{ trans.Shares }}</td>
                    <td>{{ trans.Price }}</td>
                    <td>{{ trans.Timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
