{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h3>My Portfolio</h3>
    <table class="table_alignment">
        <thead>
            <tr>
                <th>Name</th>
                <th>Shares</th>
                <th>Price (of Stocks)</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stock_info %}
                <tr>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <div>Cash: {{ cash }}</div>
        <div>Grand Total: {{ grand_total }}</div>
    </table>
{% endblock %}
