{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <h3>Want to Register?</h3>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" placeholder = 'Username' name='username' id='username' type='text' autofocus>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" placeholder = 'Password' name='password' id='password' type='password'>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" placeholder = 'Confirmation' name='confirmation' id='confirmation' type='password'>
        </div>
        <div>
            <button class="btn btn-primary" type='submit'>Submit</button>
        </div>

    </form>
{% endblock %}
